@model Reservation.Models.LoginViewModel

@{
    Layout = null;  // Pas de layout (cela rend la page vide, sans en-tête, pied de page, etc.)
    ViewData["Title"] = "Connexion";
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container" id="container">
        <div class="sign-up">
            <form method="post">
                <h1>Créer un compte</h1>
                <div class="icons">
                    <a href="#" class="icon"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-google"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                </div>
                <span>ou utilisez votre email pour vous inscrire</span>
                <input type="text" placeholder="Nom" name="Username" required />
                <input type="email" placeholder="Email" name="Email" required />
                <input type="password" placeholder="Mot de passe" name="Password" required />
                <button type="submit">S'inscrire</button>
            </form>
        </div>
        <div class="sign-in">
            <form method="post">
                <h1>Se connecter</h1>
                <div class="icons">
                    <a href="#" class="icon"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-google"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                </div>
                <span>ou utilisez votre email et mot de passe</span>
                <input type="email" placeholder="Email" name="Email" required />
                <input type="password" placeholder="Mot de passe" name="Password" required />
                <a href="#">Mot de passe oublié</a>
                <button type="submit">Se connecter</button>
            </form>
        </div>
        <div class="toogle-container">
            <div class="toogle">
                <div class="toogle-panel toogle-left">
                    <h1>Bienvenue Utilisateur!</h1>
                    <p>Si vous avez déjà un compte</p>
                    <button class="hidden" id="login">Se connecter</button>
                </div>
                <div class="toogle-panel toogle-right">
                    <h1>Bonjour, Utilisateur!</h1>
                    <p>Si vous n'avez pas de compte</p>
                    <button class="hidden" id="register">S'inscrire</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/login.js"></script>
</body>
</html>
